
       <md-content class="md-padding" ng-if="!users">
          <md-content class="md-padding">


           <md-content layout="column " layout-align="center center">
             <h2> Welcome to Velocetti ! </h2>
             <h4> A Based Bike Delivery App </h4>
             <h3> "Velo" means BIKE in French</h3>
             <h2> Velo + City = <strong>Velocetti</strong> </h2>
             <h4> Bikers can now get <strong>Paid</strong> to Bike </h4>
           </md-content>

           <div class="md-actions" layout="row" layout-align="center center">
             <md-button ng-click="showAdvanced($event)" class="md-primary md-raised "><h3>Log In Here</h3></md-button>
           </div>
           
         </md-content> 
       </md-content>
       <h1 ng-if="users">You are already Logged in</h1>