
<md-content class="md-padding" >
          <md-content class="md-padding">

           <md-content layout="column " layout-align="center center">
             <h1> Welcome to Velocetti ! </h1>
             <h3> A Community Base Bike Delivery App </h3>
             <br>
             <br>
           </md-content>

           <div class="md-actions" layout="row" layout-align="center center">
             <md-button ng-click="showAdvanced($event)" class="md-accent md-raised "><h1>Log In Here</h1></md-button>
           </div>
           
         </md-content> 
 </md-content>


