<md-content layout="row" flex>
	<md-content  flex="30">
		<md-toolbar layout="row">
		<div class="md-toolbar-tools">
			<md-button class="md-raised md-accent "><a href="#home">back</a></md-button>
		</div>
		</md-toolbar>
		    <md-list>
		    	<div ng-repeat="user in users">
		    		<md-list-item>
		    			<img ng-src={{user.pictureMd}} class="md-avatar" alt="{{item.who}}" />
		    			        <div class="md-list-item-text" layout="column">
		    			          <h3>{{user.username}}</h3>
		    			          <h4> What?</h4>
		    			          <p>Lorem ipsum dolor sit amet, ne quod novum mei</p>
		    			        </div>
		    		</md-list-item>
		    		<md-divider ></md-divider>
		    	</div>
		    </md-list>

	
	</md-content>

	<md-content flex="70">
		<md-toolbar layout="row">
		<div class="md-toolbar-tools">
		</div>
		</md-toolbar>
		<!-- {{users}} -->
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis recusandae eum ratione iusto voluptatum repudiandae. Minima quas explicabo natus ratione. Rerum laborum totam explicabo facilis magnam amet nobis voluptatem quisquam!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis recusandae eum ratione iusto voluptatum repudiandae. Minima quas explicabo natus ratione. Rerum laborum totam explicabo facilis magnam amet nobis voluptatem quisquam!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis recusandae eum ratione iusto voluptatum repudiandae. Minima quas explicabo natus ratione. Rerum laborum totam explicabo facilis magnam amet nobis voluptatem quisquam!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis recusandae eum ratione iusto voluptatum repudiandae. Minima quas explicabo natus ratione. Rerum laborum totam explicabo facilis magnam amet nobis voluptatem quisquam!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis recusandae eum ratione iusto voluptatum repudiandae. Minima quas explicabo natus ratione. Rerum laborum totam explicabo facilis magnam amet nobis voluptatem quisquam!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis recusandae eum ratione iusto voluptatum repudiandae. Minima quas explicabo natus ratione. Rerum laborum totam explicabo facilis magnam amet nobis voluptatem quisquam!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis recusandae eum ratione iusto voluptatum repudiandae. Minima quas explicabo natus ratione. Rerum laborum totam explicabo facilis magnam amet nobis voluptatem quisquam!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis recusandae eum ratione iusto voluptatum repudiandae. Minima quas explicabo natus ratione. Rerum laborum totam explicabo facilis magnam amet nobis voluptatem quisquam!
	</md-content>
</md-content>

