<md-content layout="row" flex>
	<md-content  flex="30">
		<md-toolbar layout="row">
		<div class="md-toolbar-tools">
			<md-button class="md-raised md-secondary"><a href="#home">back</a></md-button>
		</div>`
		</md-toolbar>
		    <md-list>
		    	<md-list-item>
		    		<img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg?0" class="md-avatar" alt="{{item.who}}" />
		    		        <div class="md-list-item-text" layout="column">
		    		          <h3>Joe Schmo</h3>
		    		          <h4> What?</h4>
		    		          <p>Lorem ipsum dolor sit amet, ne quod novum mei</p>
		    		        </div>
		    	</md-list-item>
		    	<md-divider ></md-divider>
		    	<md-list-item>
		    		<img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg?0" class="md-avatar" alt="{{item.who}}" />
		    		        <div class="md-list-item-text" layout="column">
		    		          <h3>Joe Schmo</h3>
		    		          <h4> What?</h4>
		    		          <p>Lorem ipsum dolor sit amet, ne quod novum mei</p>
		    		        </div>
		    	</md-list-item>
		    	<md-divider ></md-divider>
		    	<md-list-item>
		    		<img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg?0" class="md-avatar" alt="{{item.who}}" />
		    		        <div class="md-list-item-text" layout="column">
		    		          <h3>Joe Schmo</h3>
		    		          <h4> What?</h4>
		    		          <p>Lorem ipsum dolor sit amet, ne quod novum mei</p>
		    		        </div>
		    	</md-list-item>
		    	<md-divider ></md-divider>
		    	<md-list-item>
		    		<img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg?0" class="md-avatar" alt="{{item.who}}" />
		    		        <div class="md-list-item-text" layout="column">
		    		          <h3>Joe Schmo</h3>
		    		          <h4> What?</h4>
		    		          <p>Lorem ipsum dolor sit amet, ne quod novum mei</p>
		    		        </div>
		    	</md-list-item>
		    	<md-divider ></md-divider>
		    	<md-list-item>
		    		<img ng-src="https://material.angularjs.org/latest/img/list/60.jpeg?0" class="md-avatar" alt="{{item.who}}" />
		    		        <div class="md-list-item-text" layout="column">
		    		          <h3>Joe Schmo</h3>
		    		          <h4> What?</h4>
		    		          <p>Lorem ipsum dolor sit amet, ne quod novum mei</p>
		    		        </div>
		    	</md-list-item>
		    	<md-divider ></md-divider>
		    </md-list>

	
	</md-content>

	<md-content flex="70">
		<md-toolbar layout="row">
		<div class="md-toolbar-tools">
			<md-button class="md-raised md-secondary"><a href="#home">back</a></md-button>
		</div>
		</md-toolbar>
		Lorem ipsum dolor sit amet, ne quod novum mei
	</md-content>
</md-content>