
 <md-dialog aria-label="Sumimit Request" >
  <!-- <form> -->
    <md-toolbar class="md-toolbar-tools md-accent">

        <h1><strong>Submit A New Request</strong></h1>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close dialog" >
          
        </md-button>

    </md-toolbar>

    <md-dialog-content  layout-padding style="max-width:800px;max-height:810px; ">

    


      <h1>  Ask a biker to get you something</h1>

      <form ng-submit="signup()" layout="column">
        <div layout="row">
          <md-input-container flex> 
            <label>Username</label> 
            <input ng-model="signupForm.username" type="text"/> 
          </md-input-container>
          <md-input-container flex> 
            <label>Password</label> 
            <input ng-model="signupForm.password" type="password"/> 
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex> 
            <label>First Name</label> 
            <input ng-model="signupForm.firstName" type="text"/> 
          </md-input-container>
          <md-input-container flex> 
            <label>Last Name</label> 
            <input ng-model="signupForm.lastName" type="text"/> 
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex> 
            <label>Email</label> 
            <input ng-dblclick="hansel()" ng-model="signupForm.email" type="text"/> 
          </md-input-container>
          <md-input-container flex> 
            <label>Picture</label> 
            <input ng-dblclick="chuck()" ng-model="signupForm.pictureMd" type="text"/> 
          </md-input-container>
        </div>
        
          <md-button type="submit" class="md-accent md-raised login" ng-click='signup()'  >
            <strong>Submit</strong>
          </md-button>

      </form>


      
    </md-dialog-content>

  <!-- </form> -->
</md-dialog>

