body{
	background-color: #3498db;
	font-family: Montserrat, Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif ;
	color: white;
	font-size: 1em;	
	margin: 0;
	box-sizing: border-box;
}
.main{
	max-width: 960px;
	margin: auto;
	padding: 20px;
}