<div class="row">
	<div class="col-md-4" ng-repeat="movie in movies">
				<div>{{movie.Title}}</div>
				<div>{{movie.Year}}</div>
				<div>{{movie.Rated}}</div>
				<div>{{movie.Released}}</div>
				<div>{{movie.Runtime}}</div>
				<div>{{movie.Genre}}</div>
				<div>{{movie.Director}}</div>
				<div>{{movie.Writer}}</div>
				<div>{{movie.Actors}}</div>
				<div>{{movie.Plot}}</div>
				<div>{{movie.Language}}</div>
				<div>{{movie.Country}}</div>
				<div>{{movie.Awards}}</div>
				<div>{{movie.Poster}}</div>
				<div>{{movie.Metascore}}</div>
				<div>{{movie.imdbRating}}</div>
				<div>{{movie.imdbVotes}}</div>
				<div>{{movie.imdbID}}</div>
				<div>{{movie.Type}}</div>
				<div>{{movie.Response}}</div>
		
	</div>
</div>