<div class="container productPage storeFront " >
	<div class="product-info">
		<img class="" ng-src="{{products[currentProduct].img}}" alt="">
		<div class="product-description">
			<h1 ng-click="addToX()">{{products[currentProduct].name}}</h1>
			<h1>{{products[currentProduct].price | currency}}</h1>
			<h1 >{{products[currentProduct].description }} </h1>
		</div>
	</div>
	<div class="product-review">
	<hr>
		<h1>$service{{$storage}}</h1>
		<h1>storage.reviews {{$storage.reviews}}</h1>
		<h1>review {{review}}</h1>
		<h2></h2>
		<form action="" name="reviewFrom">
			<blockquote ng-repeat="review in $storage.reviews[currentProduct]" ng-click="deleteReview($index)">
				<b>Stars: {{review.stars }}</b>
				<cite>by: {{review.author}}</cite>
				<br>
				{{review.body}}
			</blockquote>
				
			<div class="userReview">
				<select ng-model="review.stars" >
					<option value="1">1 star</option>
					<option value="2">2 stars</option>
					<option value="3">3 stars</option>
					<option value="4">4 stars</option>
					<option value="5">5 stars</option>
				</select>
				<textarea placeholder="Write Review Here" ng-model="review.body" cols="100" rows="3"></textarea>
				<label >by:</label>
				<input  placeholder="your@email.com" ng-model="review.author" type="email">
			</div>
				<input  type="submit" ng-click="sub($event,currentProduct)">
		</form>
		<button ng-click="reset()">Delete</button>
	</div>

</div>
