<!-- ===================================== Top Nav Bar =================================================== -->
<!--Nav Bar -->
<md-toolbar layout="column">
  <div class="md-toolbar-tools" md-ink-ripple>
    <md-button ng-click="toggleSidenav('left')" hide-gt-lg class="md-icon-button">
      <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
    </md-button>
    <h1 ><a href="#Home">Home</a></h1>
  </div>
</md-toolbar>
<!-- ===================================== Layout =================================================== -->
<div layout="{{layout}}" flex>
	<!-- -=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=- Side Nav =-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-= -->
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-lg')">
        <h2 id="startLat">Latitude {{lat}}</h2>
        <h2 id="startLon">Longittude {{longg}}</h2>
        <h3>
	        <a href="#AccountSettings"><p>Account Settings</p></a>
        </h3>
        <h3>
	        <a href="#ProfileView"><p>Profile View</p></a>
        </h3>
        <h3>
	        <a href="#Home"><p>Home</p></a>
        </h3>
	        	<h3><a href="#Messages"><p>Messages</p></a>
        </h3>
    </md-sidenav>

			<!-- .................................... BOOSTRAP BUTTONS ........................................................ -->
          
	<!-- -=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=- Content  =-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-= -->
    <div layout="column" flex id="content" >
        <md-content flex>
        	<md-grid-list 
        			md-cols-sm="1" md-cols-md="4" md-cols-gt-md="4" md-cols-gt-lg="6"
       		 		md-row-height="200px"
       				md-gutter="8px" md-gutter-gt-sm="4px" >

        			<md-grid-tile data-ng-repeat="user in users"   md-rowspan="2" md-colspan="2" md-colspan-sm="1" class="md-padding cards" layout="column">
			        	<md-card class="md-padding"  md-ink-ripple flex>
				            <md-card-content layout='row'  >
					            <img ng-src="{{user.picture.medium}}" class="sm-card-image" alt="Movie Img" >
					            <div class="here"  layout="row" layout-align="right" >
					            	<h1 class="md-title" ><a href="#ProfileView/{{$index}}">{{user.name.first + " " +user.name.last}}</a></h1>
					            </div>
				            </md-card-content>
				            <md-content  >
				            	<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
						
					            <div class="md-actions" layout="row" layout-align="end center">
					            	<md-button>Action 1</md-button>
					            	<md-button>Action 2</md-button>
					            </div>

				            </md-content>
			        	</md-card>
			        	<br>
        		</md-grid-tile>
           </md-grid-list>
		

        </md-content>

    </div>
</div>
