<li>Any Profie View</li>
 <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Im a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    
<li>{{user.Year}}</li>
<li>{{user.Rated}}</li>
<li>{{user.Released}}</li>
<li>{{user.Runtime}}</li>
<li>{{user.Genre}}</li>
<li>{{user.Director}}</li>
<li>{{user.Writer}}</li>
<li>{{user.Actors}}</li>
<li>{{user.Plot}}</li>
<li>{{user.Language}}</li>
<li>{{user.Country}}</li>
<li>{{user.Awards}}</li>
<li>{{user.Poster}}</li>
<li>{{user.Metascore}}</li>
<li>{{user.imdbRating}}</li>
<li>{{user.imdbVotes}}</li>
<li>{{user.imdbID}}</li>
<li>{{user.Type}}</li>
<li>{{user.Response}}</li>