    
 <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Im a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
<!-- 
    <div ng-controller="ModalDemoCtrl">
            <button type="button" clasModalDemoCtrls="btn btn-default" ng-click="open()">Open me!</button>
            <button type="button" class="btn btn-default" ng-click="open('lg')">Large modal</button>
            <button type="button" class="btn btn-default" ng-click="open('sm')">Small modal</button>
            <button type="button" class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>
            <div ng-show="selected">Selection from a modal: {{ selected }}</div>
          </div> -->
          {{currentUserProfile}}
    <img ng-src={{user.picture.medium}}>
    <h1>User Name {{user.name.first | uppercase}}</h1>
    <h2>{{user.username}}</h2>
    {{user}}

<!-- <li>{{users[0].Year}}</li>
<li>{{users[0].Rated}}</li>
<li>{{users[0].Released}}</li>
<li>{{users[0].Runtime}}</li>
<li>{{users[0].Genre}}</li>
<li>{{users[0].Director}}</li>
<li>{{users[0].Writer}}</li>
<li>{{users[0].Actors}}</li>
<li>{{users[0].Plot}}</li>
<li>{{users[0].Language}}</li>
<li>{{users[0].Country}}</li>
<li>{{users[0].Awards}}</li>
<li>{{users[0].Poster}}</li>
<li>{{users[0].Metascore}}</li>
<li>{{users[0].imdbRating}}</li>
<li>{{users[0].imdbVotes}}</li>
<li>{{users[0].imdbID}}</li>
<li>{{users[0].Type}}</li>
<li>{{users[0].Response}}</li> -->