<!DOCTYPE html>
<html ng-app="Lingo">
	<head>
		<title>Lingo Quiz</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="style/main.css">
	</head>
	<body ng-controller="mainCtrl">
		<div class="container">
			<h1>{{greeting}}</h1>
			<div class="row navBar">
				<div  class="col-lg-4"><a href="/"><h2>Translate</h2></a></div>
				<div  class="col-lg-4"><a href="/quiz"><h2>Quiz</h2></a></div>
				<div  class="col-lg-4"><a href="/progress"><h2>Progress</h2></a></div>
			</div>
			<h1>Quiz</h1>
			<h3>the word is {{test.quiz}}</h3>
			<form data-ng-submit="validateAnswer()">
				<label>Your Answer</label><input type="text" data-ng-model="test.guess">
				<input type="submit">
			</form>
			<h3>{{realAnswer}}</h3>


		</div>
		
		<script src="/js/ngApp.js" type="text/javascript"></script>
	</body>
</html>