html, body {
  height: 100%;
}
body{
	font-family:"Montserrat"; 
    font-weight:300; 
	margin: 0;
	padding: 0;
	-webit-box-sizing: border-box;
	box-sizing: border-box;
	-mox-box-sizing: border-box;	
}
.bodyWrapper{
	background-image: linear-gradient(to bottom, #137499, #1ca8dd);
	position: relative;
	min-height: 100%;
}
/*===============Header===============*/

/*===============FOOTER===============*/
.footer{
	background: #252830;
	text-align: center;
	position: relative;
	width: 100%;
	overflow: auto;
	padding: 100px  0;
	bottom: 0;
	left: 0;
	color: white;
}
.footer li{
	list-style: none;
}
.footer ul {
	padding: 0;
}
/*===============StoreFront===============*/
.storeFront .items{
	background: white;
	border-radius: 10px;
	margin: 10px;
	-webkit-box-shadow: 10px 10px 35px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 35px -10px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 35px -10px rgba(0,0,0,0.75);

}
.storeFront .items:hover {
	-webkit-box-shadow: 10px 10px 35px 5px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 35px 5px rgba(0,0,0,0.75);
	 box-shadow: 10px 10px 35px 5px rgba(0,0,0,0.75);
}
.storeFront{
	margin-bottom: 200px;
}
.storeFront h3 {
	text-align: right;
	padding-right: 5px;
	bottom: 5px;
	position: absolute;
	right: 30px;
}


.storeFront .img-container{
	background: white;
	border-radius: 15px;
}

.storeFront .img-container img{
	max-width: 250px;
	width: auto;
	margin: auto;
	text-align: center;
	display: block;
	position: relative;
	height: 200px;
}
.storeFront .product-content{
	height: 200px;
	padding: 10px;
}
/*===============PRODUCT Page===============*/
.productPage img{
	max-width: 400px;
	float: left;
	margin-right: 25px;
}
.productPage {
	background: white;
	color: black;
	border-radius: 15px;
	padding: 30px;
}
.productPage .product-review{
	clear: both;
}
.userReview{
	width: 400px;
	padding: 5px;
}
.userReview select{
	width: 400px;
	margin: 10px 0;
	padding: 5px;

}
.userReview textarea{
	width: 400px;
	padding: 5px;
	
}
.userReview input{
	width: 400px;
	padding: 5px;
}
/*===============Movies Catalog===============*/
.movieCatalog img{
	height: 300px;
	width: auto;
}
.movieCatalog .items{
	text-align: center;
}

/*===============Movie Page===============*/
.moviePage hr{
	background: red;
	border-bottom: solid;
}

.moviePage .container{
	background: white;
	color: black;
	border-radius: 15px;
	padding: 30px;
	margin-bottom: 200px;

}
.moviePage .imgWrapper{
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;

}
.moviePage img{
}
.movieInfoContainer{
	/*float: right;*/
}

.moviePage .movieTitle {
	display: inline;
}
 .movieDetails * {
	display: inline-block;
	padding-right: 5px;
}
.moviePage .movieYear{

}
.moviePage .movieRated{

}
.moviePage .movieReleased{

}
.moviePage .movieRuntime{

}
.moviePage .movieGenre{

}
.moviePage .movieDirector{

}
.moviePage .movieWriter{

}
.moviePage .movieActors{

}
.moviePage .moviePlot{

}
.moviePage .movieLanguage{

}
.moviePage .movieCountry{

}
.moviePage .movieAwards{

}
.moviePage .moviePoster{

}
.moviePage .movieMetascore{

}
.moviePage .movieimdbRating{

}
.moviePage .movieimdbVotes{

}
.moviePage .movieimdbID{

}
.moviePage .movieType{

}
.moviePage .movieResponse{

}
/*=============== Other ===============*/
/*=============== Other ===============*/
/*=============== Other ===============*/