body{
	font-family:"Montserrat"; 
    font-weight:300; 
	color: #DFDFE1;
	margin: 0;
	padding: 0;
	background: #252830;
	background-image: linear-gradient(to bottom, #137499, #1ca8dd);

}

p:hover, h2:hover , li:hover , h1:hover, h3:hover  {
	color: red;
}

a{
	color: white;
}
/*===============Nav===============*/
.container.header {
	height: 150px;
	padding-top: 50px;

}


/*===============MAIN===============*/


.main{
	padding: 30px 0px;
}
.row img{
	width:100%; 
}
/*===============PRODUCT===============*/

.row h2 {
	text-align: right;
	padding-right: 5px;
}

/*===============FOOTER===============*/


.footer{
	background: #252830;
	text-align: center;
}
.footer li{
	list-style: none;

}
.col-sm-4:hover {
	background-image: linear-gradient(to bottom, #137499, #1ca8dd);
}

.col-sm-4 {
	padding: 5px;
	overflow: hidden;
	position: relative;
}

.img-container img{
	max-width: 250px;
	width: auto;
	margin: auto;
	text-align: center;
	display: block;
	position: relative;
	height: 200px;
}
.img-container{
	position: relative;
	background: white;
}
.product-content{
	height: 150px;
}