body{
	background: #FEEA11;
}
.cardContainer{
	margin: auto;
	background: #1A171E;
	max-width: 960px;
	/*height: 960px;*/

	overflow: auto;
	font-weight: 700;
	font-size: 2em;
	color: white;
	padding: 15px;
}

.card{
	border: 2px solid ;
	border-radius: 15px;
	border-color: #FEEA11;
	padding: 15px;
	margin: 15px 0;
}
.author{
	padding: 15px;
	text-align: center;
	background: gray;
	border-radius: 15px;
}
.author a {
	text-decoration: none;
	color: white
}
.author a:hover{
	text-decoration: none;
	color: blue;
}
.quote{
	padding: 20px;
	text-align: center;
}
.quote span{
	font-size: 1.3em;
}
.rating{
	text-align: right;
}
.inputdemoBasicUsage md-datepicker {
  margin-top: 18px; }
.inputdemoBasicUsage .md-datepicker-button {
  height: 36px;
  width: 36px;
  line-height: 36px; }
.inputdemoBasicUsage .md-datepicker-input-container {
  margin-left: 2px; }