body
  margin 0
  background #FFD400
  padding 30px
  

  // ------------- Form -----------
.submitQuote
  background white
  position: absolute
  font-size 1em
  textarea
    width 400px
    height 100px
    margin 0
    padding 0
    display block
    font-size 2em
  input
    display block
    font-size: 2em
    height 100px
    overflow auto
    padding 0
    width 400px
    margin 0
  
  
.wrapper // ------------- Wrapper -----------
  margin auto
  background #1A171E
  max-width 1206px
  position relative
  overflow auto
  font-weight 700
  font-size 2em
  color white
  padding 20px 200px 200px 200px
  .sorting // ------------- Sort -----------
    // background white
    position: relative
    overflow auto
    height 100px
    button
      font-size 1em
      width 300px
      height 50px
    img.add
      width 50px
      height 50px
      border-radius 193px
      position absolute
      right 20px
      // top 20px
  .cardContainer // ------------- cardContainer -----------
    // background red
    .welcome
      text-align center
    .card
      border 4px solid
      border-radius 15px
      border-color #FFD400
      padding 15px
      margin 15px 0
      position: relative

      img.delete
        width 50px
        height 50px
        border-radius 140px
        top 27px
        position absolute
        right 31px

      .author
        padding 10px
        text-align center
        background gray
        border-radius 15px
        font-size 50px
        a
          text-decoration none
          color white
          &:hover
            text-decoration none
            color #FFD400

      .quote
        padding 10px 0 0 0
        text-align center
        span
          font-size 1.3em

      .rating
        text-align right
        color #FFD400
    
