<!-- // red  red  red  red  red  red  red  red  red  red  red  red -->
<md-toolbar layout="column" >
  <div class="md-toolbar-tools" md-ink-ripple >
    <md-button ng-click="toggleSidenav('left')" hide-gt-lg class="md-icon-button">
      <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
    </md-button>
    <img ng-click="setMapCenter()" class="logo" src="https://files.slack.com/files-pri/T07DT0MRD-F0BMW4XN0/mapme.png">
    <!-- <h2>  sm: {{sm}} | md: {{md}} | lg: {{lg}} | gt-lg: {{xlg}}</h2> -->
  </div>
</md-toolbar>

<!-- // red  red  red  red  red  red  red  red  red  red  red  red -->

<div layout="column" layout-gt-lg="row" flex>

<!-- //  #00B4FF  #00B4FF  #00B4FF  #00B4FF  #00B4FF  #00B4FF  #00B4FF -->
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-lg')" class="md-padding">
    <!-- data-ng-click="openToast('You Found an Easter Egg')" -->
        <h3 id="startLat" ng-dblclick="testTrigger()" >Welcome to Map Me </h3>
        <h3> <a href="#AccountSettings"><p>Account Settings</p></a> </h3>
        <h3><a href="#Messages"><p>Messages</p></a> </h3>
        <h3 data-ng-click="setMapCenter()">Show Map</h3>
        <h3><a href="#login">Login</a></h3>
        <h2>Search:</h2>
        <input type="text" data-ng-model="searchbox">
    </md-sidenav>
<!-- //  #00B4FF  #00B4FF  #00B4FF  #00B4FF  #00B4FF  #00B4FF  #00B4FF -->

          

<!-- //  #12FF00  #12FF00  #12FF00  #12FF00  #12FF00  #12FF00  #12FF00 -->
    
<!-- //  #12FF00  #12FF00  #12FF00  #12FF00  #12FF00  #12FF00  #12FF00 -->
    
<!-- //  #FF7200  #FF7200  #FF7200  #FF7200  #FF7200  #FF7200  #FF7200 -->

  <md-content   ng-show="showMap" flex >
    <div  id="map-canvas">
      <leaflet center="mapCenter" markers="mapMarkerss"> </leaflet>
    </div>
  </md-content>
<!-- //  #FF7200  #FF7200  #FF7200  #FF7200  #FF7200  #FF7200  #FF7200 -->

</div>

   <!-- <div class="main" data-ng-hide="showMap" layout="column" flex="50">
    <div class="container-fluid" id="map-canvas">
      <leaflet center="mapCenter" markers="mapMarkerss">  </leaflet>
    </div>
  </div> -->
