<md-content layout="row" id="accountSettings" layout-align="center start">

<md-content layout-padding layout="column"  flex="80" >
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
      <md-button class="md-raised md-secondary"><a href="#home">back</a></md-button>
        
        <h1>{{user.name.title  + "."+user.name.first + " "+ user.name.last  | uppercase}}</h1>
      </div>
    </md-toolbar>
    <md-content layout-padding layout="row" layout-align-md="center center" layout-align-gt-md="start start">
        <img class="profilePic" ng-src={{user.picture.large}} flex-sm >
        <md-content layout-padding  hide-sm hide-md >
<!--             Lorem ipsum dolor sit amet, ne quod novum mei.
 -->    </md-content>


    </md-content>
    <md-content layout-padding>
        <h3>Gender: {{user.gender.capitalize()}}</h3>
        <h2>User Name: {{user.username.capitalize() }}</h2>
        <h2>Password: {{user.password}}</h2>
        <h3>Email: {{user.email}}</h3>
        <h3>Phone: {{user.phone}}</h3>
        <h3>Cell: {{user.cell}}</h3>
        <h2>Address: {{user.location.street.capitalize()}} {{user.location.city.capitalize()}} ,{{user.location.state.capitalize()}}</h2>
        <h2>{{user.dob|date}}</h2>
        <h4>Latitude: {{user.lat}}</h4>
        <h4>Longitutde: {{user.lonn}}</h4>
        <h4>Distance: {{user.apart}}</h4>
        <h4>Current Place: {{user.place}}</h4>
    
    </md-content>
</md-content>
</md-content>

<!-- ======================================================================================= -->
<!-- 
    <div ng-controller="ModalDemoCtrl">
            <button type="button" clasModalDemoCtrls="btn btn-default" ng-click="open()">Open me!</button>
            <button type="button" class="btn btn-default" ng-click="open('lg')">Large modal</button>
            <button type="button" class="btn btn-default" ng-click="open('sm')">Small modal</button>
            <button type="button" class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>
            <div ng-show="selected">Selection from a modal: {{ selected }}</div>
          </div> -->
    
 <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Im a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
