<!DOCTYPE html>
<html  data-ng-app="contestApp">
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>

	<title>Contest App</title>
</head>
<body data-ng-controller="MainCtrl">

<h1>Best Videos</h1>
{{returnObj}}
<div data-ng-repeat="video in returnObj">
	<h2>{{video.name}}</h2>

	<iframe width="560" height="315" src="//www.youtube.com/embed/v2ifWcnQs6M?list=PL5586336C26BDB324" frameborder="0" allowfullscreen></iframe>
	<!-- https://www.youtube.com/watch?v=v2ifWcnQs6M&list=PL5586336C26BDB324&index=2 -->
</div>




<script src="./js/main.js"></script>
</body>
</html>