body{
	text-align: center;
}
li{
		list-style: none;
		text-align: center;
}
ul{
	padding: 0;
}
.container{
	max-width: 960px;
	padding: 15px;
	margin: auto;
}

.p1.true, .p2.true, .p3.true  {
	color: red;
}
