body{
	background-color: #3498db;
	font-family: Montserrat, Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif ;
	color: white;
	font-size: 1em;	
	text-align: center;
	margin: 0;
	box-sizing: border-box;


}
p{
	text-align: left;
}
li{
		list-style: none;
		text-align: center;
}
ul{
	padding: 0;
}
.container{
	max-width: 960px;
	padding: 15px;
	margin: auto;
}

.black  {
	color: black;
}

button.popUpToggle{
	background: white;
	color: #3498db;
	margin: auto;
	width:100%;
	height: 50px;
	font-size: 1.8em;
	margin: 10px;
	padding: 0;
}

div.popUp{
	height: 200px;
	top: 150px;
	position: fixed;
	background: gray;
	width: 70%;
	left: 15%;

}
.closePopUp{
	position: absolute;
	right: 20px;
	bottom: 15px;
}
.popUpContainer{
	background: rgba(0,0,1,0.6);
	width: 100%;
	height: 100%;
	position: absolute;

}