<div class="moviePage">
	<div class="container">
		
		<div class="imgWrapper">
			<img class="moviePoster" ng-src="{{movies[currentProduct].Poster}}" >
		</div>
			<h1 class="movieTitle">{{movies[currentProduct].Title}} ({{ movies[currentProduct].Year}})</h1>
			<div class="movieDetails">
				<div class="movieYear"></div>
				<div class="movieRated">{{movies[currentProduct].Rated}}</div>
				<div class="movieRuntime">{{movies[currentProduct].Runtime}}</div>
				<div class="movieGenre">{{movies[currentProduct].Genre}}</div>
				<div class="movieReleased">{{movies[currentProduct].Released}}</div>
			</div>
			<hr>
			<div class="moviePlot"><h3>Plot Summary</h3>{{movies[currentProduct].Plot}}</div>
			<hr>
			<div class="movieInfoContainer">
			<div class="movieLanguage">{{movies[currentProduct].Language}}</div>
			<div class="movieCountry">{{movies[currentProduct].Country}}</div>
			<hr>
			<div class="movieDirector">			<h3>Credits</h3> <span>Director: </span>
{{movies[currentProduct].Director}}</div>
			<div class="movieWriter"> <span>Writer: </span> {{movies[currentProduct].Writer}}</div>
			<div class="movieActors"><span>Actors: </span> {{movies[currentProduct].Actors}}</div>
			<hr>
			<div class="movieMetascore">{{movies[currentProduct].Metascore}}</div>
			<div class="movieimdbRating">{{movies[currentProduct].imdbRating}}</div>
			<div class="movieimdbVotes">{{movies[currentProduct].imdbVotes}}</div>
			<div class="movieAwards">{{movies[currentProduct].Awards}}</div>
			<hr>
			<div class="movieimdbID">{{movies[currentProduct].imdbID}}</div>
			<div class="movieType">{{movies[currentProduct].Type}}</div>
			<div class="movieResponse">{{movies[currentProduct].Response}}</div>
		</div>
	</div>
</div>
