<div class="storeFront">
	<div class="container">
		<div class="content">
						<!-- <h2 ng-repeat="product products">{{product.title}}</h2> -->

			
			<div class="row">
				<div class=" col-lg-4" ng-repeat="product in products">
				<div class="items">

					<div class="img-container">
						<a href="#product/{{$index}}"><img class="" ng-src="{{product.img}}" alt=""></a>
					</div>
						<div class="product-content"><a href="#product/{{$index}}">

								<h2><a ng-mouseover="fun()"href="#product/{{$index}}">{{product.name}}</a></h2>
								
								<h3 ng-click="create()">{{product.price | currency}}</h3>
						</a></div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>






