/* ADD YOUR STYLES HERE */
.data-table td {
	border-bottom: solid;
	padding-right: 50px;
	padding-left: 5px;
	font-size: 12px;
	
}
.data-table table{
	width: 100%;
}

.stats td{
	border-bottom: solid;
	border-top: solid;
	border-color: gray;
	padding-right: 10px;
	text-align: center;
}

.number{
    font-weight: bold;
    font-size: -webkit-xxx-large;
}

.number-description{
	font-size: small;
	color: gray;
}
.instruction-answer {
	width: 100%;
}
.bar-chart th {
	text-align: right;

}
.bar-chart-table div {
	background: red;
}

/*
                                     Light box*/
.lightbox {

}

.lbox1{

}
.lbox2{
	background: gray;
	padding: 75px;
}
.lbox3{

	background: white;
	border-radius: 10px;
	padding:10px;
	overflow: auto;
}
.lbox3 .button{
	background-color: #ED818A;
	width: 100px;
	border-radius:5px;
	position: relative;
	text-align: center;
	color: white;
	float: right;
/*	height: 25px;
*/	padding: 10px;


}
.lbox3 .button a {
	color: white;
	text-decoration: none;
}

/*.instruction-answer img{
}*/
                                 /* Media Block*/
.instruction-answer img{	
	float: left;
	margin-right: 5px;

}
.instruction-answer .mediablock-content2{
	margin-left: 55px;
}


.instruction-answer .mediacontent{
	margin-left: 55px;
}

















